<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/mystyle.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#swapHeart').on('click', function () {
                var $el = $(this),
                    textNode = this.lastChild;
                $el.find('span').toggleClass('glyphicon-heart glyphicon-heart-empty');
                $el.toggleClass('swap');
            });
        });
    </script>

    <title>Title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div class="super_container">
    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><img
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png"
                                    alt=""></div>
                            +91 9823 132 111
                        </div>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><img
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt="">
                            </div>
                            <a href="mailto:fastsales@gmail.com">apshop@gmail.com</a>
                        </div>
                        <div class="top_bar_content ml-auto">

                            <div class="top_bar_user">
                                <div class="user_icon"><img
                                        src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg"
                                        alt=""></div>
                                <div sec:authorize="isAuthenticated()" sec:authentication="name"></div>
                                <div sec:authorize="!isAuthenticated()"><a href="/signup">Register</a></div>
                                <div sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></div>
                                <div sec:authorize="!isAuthenticated()"><a href="/login">Login</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Header Main -->
        <div class="header_main">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href="#">APShop</a></div>
                        </div>
                    </div> <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form th:action="@{/search}" class="header_search_form clearfix"><input
                                            type="search" id="keyword" name="keyword" required="required"
                                            class="header_search_input" placeholder="Search for art prints...">
                                        <div class="custom_dropdown" style="display: none;">
                                            <div class="custom_dropdown_list"><span
                                                    class="custom_dropdown_placeholder clc">All Categories</span> <i
                                                    class="fas fa-chevron-down"></i>
                                                <ul class="custom_list clc">
                                                    <li><a class="clc" href="#">All Categories</a></li>
                                                    <li><a class="clc" href="#">Computers</a></li>
                                                    <li><a class="clc" href="#">Laptops</a></li>
                                                    <li><a class="clc" href="#">Cameras</a></li>
                                                    <li><a class="clc" href="#">Hardware</a></li>
                                                    <li><a class="clc" href="#">Smartphones</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button type="submit" class="header_search_button trans_300" value="Submit"><img
                                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png"
                                                alt=""></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist_icon"><img
                                        src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png"
                                        alt=""></div>
                                <div class="wishlist_content">
                                    <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                    <div class="wishlist_count">10</div>
                                </div>
                            </div> <!-- Cart -->
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon"><img
                                            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png"
                                            alt="">
                                        <div class="cart_count" sec:authorize="isAuthenticated()"><span
                                                th:text="${numitems}"></span></div>
                                        <div class="cart_count" sec:authorize="!isAuthenticated()"><span>0</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="/shopping_cart">Cart</a></div>
                                        <!--                                        <div th:object="${}" class="cart_price" th:text="${}"></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Main Navigation -->
        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main_nav_content d-flex flex-row">
                            <!-- Categories Menu -->
                            <!-- Main Nav Menu -->
                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a th:href="@{/home}">Home<i class="fas fa-chevron-down"></i></a></li>
                                    <li class="hassubs"><a th:href="@{/categories}">Categories<i
                                            class="fas fa-chevron-down"></i></a></li>
                                    <li class="hassubs"><a th:href="@{/prints}">All Prints<i
                                            class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </div> <!-- Menu Trigger -->
                            <div class="menu_trigger_container ml-auto">
                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                    <div class="menu_burger">
                                        <div class="menu_trigger_text">menu</div>
                                        <div class="cat_burger menu_burger_inner">
                                            <span></span><span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav> <!-- Menu -->
        <div class="page_menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page_menu_content">
                            <div class="page_menu_search">
                                <form action="#"><input type="search" required="required" class="page_menu_search_input"
                                                        placeholder="Search for products..."></form>
                            </div>
                            <ul class="page_menu_nav">
                                <li class="page_menu_item has-children"><a href="#">Language<i
                                        class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"><a href="#">Currency<i
                                        class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item"><a href="#">Home<i class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item has-children"><a href="#">Super Deals<i
                                        class="fa fa-angle-down"></i></a>
                                </li>

                                <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a>
                                </li>
                                <li class="page_menu_item"><a href="contact.html">contact<i
                                        class="fa fa-angle-down"></i></a></li>
                            </ul>
                            <div class="menu_contact">
                                <div class="menu_contact_item">
                                    <div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>
                                    +38 068 005 3570
                                </div>
                                <div class="menu_contact_item">
                                    <div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div>
                                    <a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="snip1492" th:each="print:${prints}">
            <figure class="snip1492">
                <img th:src="${print.getImgBase64()}" alt="sample85"/>
                <figcaption>
                    <h3 th:text="${print.getName()}"></h3>
                    <p th:text="${print.getDescription()}"></p>
                    <p th:text="${print.getLikes()}"></p>
                    <!--                <div class="price">-->
                    <!--                    <s th:text="${print.getSizes().}"></s>$19.00-->
                    <!--                </div>-->
                </figcaption>
                <i class="ion-plus-round"></i>
                <a th:href="@{/prints/{id}/details(id=${print.getId()})}"></a>
            </figure>
            <div th:if="${user!=null}">
                <div sec:authorize="!hasRole('ROLE_ADMIN')">
                        <form></form>
                        <form th:action="@{/prints/{id}/unlike(id=${print.getId()})}" method="post">
                            <button type="submit" class="snip1492 btn btn-default btn-sm"
                                    th:if="${#lists.contains(print.getUsersLiked(), user)}">
                                <span class="glyphicon glyphicon-thumbs-up"></span>You like this
                            </button>
                        </form>
                        <form></form>
                        <form th:action="@{/prints/{id}/like(id=${print.getId()})}" method="post">
                            <button type="submit" class="snip1492 btn btn-default btn-sm"
                                    th:unless="${#lists.contains(print.getUsersLiked(), user)}">
                                <span class="glyphicon glyphicon-thumbs-up"></span>Like
                            </button>
                        </form>

                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{/prints/{id}/edit(id=${print.getId()})}" method="get">
                        <button class=" btn btn-primary btn-sm" style="width: 50%;display: inline;float: left" >
                            Edit
                        </button>
                    </form>
                    <form th:action="@{/prints/{id}/delete(id=${print.getId()})}" method="post">
                        <button type="submit" class="btn btn-warning btn-sm" style="width: 50%;display: inline" >
                            Delete
                        </button>
                    </form>
                </div>


                <!--        <form th:action="@{/prints/{id}/like(id=${print.getId()})}" method="post"  th:unless="${usr.getUsername()==user.getUsername()}">-->
                <!--    <button type="submit" class="snip1492 btn btn-default btn-sm">-->
                <!--        <span class="glyphicon glyphicon-thumbs-up"></span> Like-->
                <!--    </button>-->
                <!--        </form>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12  col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/prints/new" class="btn btn-block btn-light">Add new print</a>
    </div>
</div>


</div>

<!-- /.container -->
</body>

</html>